<h1>material-app-bar</h1>

<h3>Usage</h3>
<pre>
    &lt;material-app-bar label="Title"&gt;
        &lt;i class="material-icons" slot="left-content"&gt;add&lt;/i&gt;
        &lt;i class="material-icons" slot="right-content"&gt;close&lt;/i&gt;
    &lt;/material-app-bar&gt;
</pre>

<h3>Attributes</h3>
<ul>
    <li><code>label</code>: String, title of the toolbar</li>
</ul>

<h3>Events</h3>
<ul>
    <li><code>app-bar-click</code>: fired when an icon is clicked
        <ul>
            <li>Event detail:
                <ul>
                    <li><code>target</code>: HTMLElement, the clicked icon</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h3>Slots</h3>
<ul>
    <li><code>left-content</code>: element appearing on the left side, usually an icon</li>
    <li><code>right-content</code>: element appearing on the right side, usually an icon</li>
</ul>

<h3>Styling</h3>
<ul>
    <li>background color: <code>--app-bar-background</code></li>
    <li>font color: <code>--app-bar-font-color</code></li>
    <li>padding: <code>--app-bar-padding</code></li>
</ul>


<h3>Demo</h3>
<material-app-bar label="Title">
    <i class="material-icons" slot="left-content">add</i>

    <material-dropdown slot="right-content">
        <i class="material-icons" slot="icon" tabindex="1">menu</i>
        <li slot="option">Javascript</li>
        <li slot="option">PHP</li>
        <li slot="option">Java</li>
        <li slot="option">Scala</li>
    </material-dropdown>
</material-app-bar>