<h1>material-progress</h1>

<h3>Usage</h3>
<pre>
    &lt;material-progress value="25" max="100" circle="64"&gt;&lt;/material-progress&gt;
</pre>

<h3>Attributes</h3>
<ul>
    <li><code>value</code>: Number, current value of the progress indicator</li>
    <li><code>max</code>: Number, maximum value of the progress indicator</li>
    <li><code>circle</code>: Number, will make the progress indicator appear as a circle, the value is the radius in pixels</li>
</ul>

<h3>Styling</h3>
<ul>
    <li>width of progress bar: <code>--progress-bar-width</code>, default: 100%</li>
    <li>height of the progress bar: <code>--progress-bar-height</code>, default: 5px</li>
    <li>color of the progress indicator: <code>--progress-bar-color</code>, default: rgb(0, 188, 212)</li>
    <li>background color of the progress indicator: <code>--progress-background</code>, default: #eeeeee</li>
    <li>font size of the progress bar when circular: <code>--progress-font-size</code>, default: 4px</li>
</ul>

<h3>Demo</h3>
<material-progress value="68" max="100"></material-progress>

<b>Circular</b>
<material-progress value="68" max="100" circle="64"></material-progress>