<h1>material-checkbox</h1>

<h3>Usage</h3>
<pre>
    &lt;material-checkbox label="Subscribe"&gt;&lt;/material-checkbox&gt;
</pre>

<h3>Attributes</h3>
<ul>
    <li><code>label</code>: String, label on the right side of the checkbox</li>
    <li><code>checked</code>: empty, setting this attribute will check the checkbox</li>
</ul>

<h3>Styling</h3>
<ul>
    <li>color of radiobutton when not checked: <code>--unchecked-color</code></li>
    <li>color of radiobutton when checked: <code>--checked-color</code></li>
    <li>color of label: <code>--label-color</code></li>
</ul>

<h3>Demo</h3>
<material-checkbox label="Subscribe"></material-checkbox>