body {
    font-family: Verdana;
}

ul {
    list-style-type: none;
}

p {
    font-size: 1em;
}
code, pre {
    font-size: 1.1em;
}

#open,
#blue-button {
    --button-color: rgb(0, 188, 212);
}

#datepicker-dialog {
    --dialog-height: 444px;
}


material-app-bar {
    --app-bar-background: rgb(0, 188, 212);
    --app-bar-font-color: #ffffff;
}

material-slider {
    --track-color: rgb(0, 188, 212);
    --thumb-color: rgb(0, 188, 212);
    --thumb-size: 16px;
    --track-height: 2px;
}

material-switch {
    --switch-color: #008000;
}

material-progress {
    --progress-bar-width: 250px;
}
material-dropdown {
    width: 500px;
}
