body {
  line-height: 1.3em;
  margin: 0;
  min-height: 100%;
  background-color: #fafafa;
  font-family: Roboto, Verdana;
}

main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 1fr;
  grid-template-columns: 250px 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}
#main-app-bar {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-bottom: 20px;
  display: none;
  --app-bar-font-size: 18px;
}
@media (min-width: 800px) {
  #main-app-bar {
    display: block;
    --app-bar-padding: 10px 15px;
  }
}
#mobile-app-bar {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-bottom: 20px;
}
@media (min-width: 800px) {
  #mobile-app-bar {
    display: none;
  }
}
#main-menu {
  --top-pos: 57px;
  --drawer-box-shadow: none;
}
@media (min-width: 800px) {
  #main-menu {
    --top-pos: 64px;
  }
}
#demo-material-drawer {
  --top-pos: 57px;
}


#content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  padding: 10px;
}
@media (min-width: 800px) {
  #sidebar {
    grid-column: 1 / 2;
    background-color: #ffffff;
  }

  #content {
    grid-column: 2 / 3;
  }
}

.demo {
  padding-bottom: 250px;
}

ul {
  list-style-type: none;
  padding-left: 25px;
}

ul li {
  padding: 3px;
  margin-bottom: 5px;
}

ul li a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1;
}

main > h1 {
  font-size: 32px;
  margin-bottom: 35px;
}
h2 {
  font-size: 24px;
  margin-bottom: 30px;
}
h3 {
  margin-top: 30px;
}

p {
  font-size: 1em;
}

code, pre {
  font-size: 1.1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

a {
  color: #000000;
  cursor: pointer;
}
a:hover {
  color: rgb(0, 188, 212);
}

.demo-option {
  margin-bottom: 15px;
}

.demo-option em {
  display: inline-block;
  margin-bottom: 10px;
}

#open,
#blue-button {
  --button-color: rgb(0, 188, 212);
}

#open-standard,
#open-modal {
  display: inline-block;
  margin-right: 15px;
}

#datepicker-dialog {
  --dialog-width: auto !important;
  --header-background: transparent;
  --body-background: transparent;
  --footer-background: transparent;
}

material-slidemenu {
  width: 250px;
}

material-app-bar {
  --app-bar-background: rgb(0, 188, 212) !important;
  --app-bar-font-color: #ffffff !important;
}

material-card {
  --card-width: 300px;
  --header-background: #8cc7fa;
}

material-slider {
  --track-color: rgb(0, 188, 212) !important;
  --thumb-color: rgb(0, 188, 212) !important;
  --thumb-size: 16px !important;
  --track-height: 2px !important;
}

material-switch {
  --switch-color: #008000 !important;
}

material-progress {
  --progress-bar-width: 250px !important;
}

#demo-slidemenu {
  /*background: #cccccc;*/
}

.cards-row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 30px;
}
@media (min-width: 1200px) {
  .cards-row {
    flex-direction: row;
  }
}
.card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2), 0px 12px 17px 2px rgba(0,0,0,0.14), 0px 5px 22px 4px rgba(0,0,0,0.12);
  border-radius: 5px;
}
@media (min-width: 1200px) {
  .card {
    width: 250px;
  }
}

.card h3 {
  font-size: 20px;
  line-height: 1.7em;
  text-align: center;
  margin: 5px 0 30px 0;
}

.card p {
  font-size: 13px;
  text-align: justify;
}
.card .body {
  text-align: center;
}
.scoped-css p {
  text-align: center;
  font-family: monospace;
  font-size: 35px;
}
.intro {
  padding: 10px 0 30px 0;
}
